html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #d7d0c3;
  display: flex;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 0;
  width: 60px;
  height: 50vh;
  background-color: #b5a99f;
  transform: translateY(-50%);
  padding: 0;
  z-index: 10;
  gap: 10px;
  box-shadow: 8px 0 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.navbar a {
  color: #4e4e4e;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
}

.navbar a:hover {
  color: #fff;
  background-color: #6a6a6a;
  border-radius: 5px;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 250px;
  overflow-y: auto;
  padding-left: 20px;
  scroll-snap-type: y mandatory;
}

.section {
  min-height: 100vh;
  scroll-snap-align: start;
  padding: 40px;
}

.landing-header {
  text-align: center;
  width: 100%;
  max-width: 700px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 40%;
  height: 40%;
  border-radius: 10px;
  margin-right: 20px;
}

.landing-header h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #4e4e4e;
  margin-bottom: 20px;
}

.landing-header p {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #6a6a6a;
  margin-top: 15px;
}

#aboutme,
#experience,
#projects,
#contact {
  min-height: 100vh;
  scroll-snap-align: start;
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
