body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #d7d0c3;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

.landing-header {
  text-align: center;
  width: 100%;
  max-width: 700px;
  padding: 40px;
}

.landing-header h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #4e4e4e;
  margin-bottom: 20px;
}

.landing-header p {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: #6a6a6a;
  margin-top: 15px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

button {
  padding: 15px 35px;
  background-color: #b5a99f;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1.4rem;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #8f8b7a;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

button:focus {
  outline: none;
}
