html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #d7d0c3;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  margin-left: 60px;
}

.section {
  min-height: 100vh;
  scroll-snap-align: start;
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
}

.landing-header {
  text-align: center;
  width: calc(100% - 60px);
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.landing-header h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #4e4e4e;
  margin: 0;
}

.typing-container {
  font-family: 'Courier New', monospace;
  font-size: 20px;
  color: #ffffff;
  background-color: #6a6a6a;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 15px;
}

.text {
  display: inline;
}

.cursor {
  display: inline-block;
  width: 10px;
  background-color: #ffffff;
  animation: blink 0.8s infinite step-end;
  margin-left: 2px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 0;
  width: 60px;
  height: 50vh;
  background-color: #b5a99f;
  transform: translateY(-50%);
  padding: 0;
  z-index: 10;
  gap: 10px;
  box-shadow: 8px 0 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.navbar-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.3s ease;
  padding: 10px;
  cursor: pointer;
}

.navbar-item:hover {
  background-color: #6a6a6a;
  border-radius: 5px;
}

.navbar-item .navbar-label {
  display: none;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 10px;
  font-size: 1rem;
  color: #4e4e4e;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navbar-item:hover .navbar-label {
  display: block;
  opacity: 1;
}

.navbar-link {
  color: #4e4e4e;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.navbar-item:hover .navbar-link {
  color: #fff;
}

.navbar-link:hover {
  background-color: transparent;
}

#aboutme,
#experience,
#projects,
#contact {
  min-height: 100vh;
  scroll-snap-align: start;
  padding: 40px;
  width: calc(100% - 60px);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
